@import "bootstrap";
@import "font-awesome";
@import "base/variables";
@import "base/base";

#main_root {
  display: flex;
}
.side-bar_root {
  flex: 0 0 18%;
}
.main-content_root {
  flex: 1;
}


///////////////////
//////////////serch
.search-root {
  display: flex;
  align-items:center;
  padding:2rem 5rem;
  &__input {
    border:1px solid gray;
    border-radius: 3px;
    padding: .7rem 1rem;
    width: 20rem;
    &:focus {
      outline: none;
    }
  }
  &__icon {
    margin-right: 1rem;

  }
  &__button {
    font-size: $default-font-size;
    padding: .8rem 1.5rem;
    margin-left: 2rem;
    &:active {
      -webkit-transform: translateY(2px);
         -moz-transform: translateY(2px);
          -ms-transform: translateY(2px);
           -o-transform: translateY(2px);
              transform: translateY(2px);
    }

  }
}
.main-content_root {

  &__table {
    width: 90%;
    margin: 0 auto;
  }
}
