<div class="container">
<% @user_create_example_ranking.each.with_index(1) do |user, i| %>
  <span><%= i %>位</span><span><%= user.nick_name %></span><span>投稿数<%= user.examples.size %></span>
<% end %>
</div>