
<div class="container">
<div class="user-dicitonary__search">
  <span class="btn btn-primary user-dicitonary__search__button">
    <%= link_to "ALL", dictionary_users_path(c: "All"), class:  "btn btn-primary user-dicitonary__search__button", remote: true %>
  </span>
  <span class="btn btn-primary user-dicitonary__search__button">
    <%= link_to "TOEIC", dictionary_users_path(c: "toeic"), class:  "btn btn-primary user-dicitonary__search__button", remote: true%>
  </span>
  <span class="btn btn-primary user-dicitonary__search__button">
    印刷
  </span>
  <span>
    <%= link_to "Excelで出力", dictionary_users_path(format: "xls"), class:  "btn btn-primary user-dicitonary__search__button" %>
  </span>
</div>
<div id="dictionary">
  <%= render "users/dictionary_table" %>
</div>
</div>