<div id="content_user-show">
  <nav class="side-bar_user">
    <ul>
      <li>INFO</li>
      <li>POST</li>
      <li></li>
      <li></li>
      <li>EDIT PROF</li>
    </ul>
  </nav>
  <main class="content_user">
    aaa
  </main>
</div>