<div id="content_user-show">
  <%= render "shared/user-sidebar" %>
  <main class="content_user">
    <div class="content_user__header">
      <div class="content_user__header__left">
        Sentences You have made
      </div>
      <div class="content_user__header__right">
        <%= nav_helper 'content_user__header__right__item' %>
      </div>
    </div>

    <%= render "prof" %>
 
  </main>
</div>