<nav id="home-nav" class="navbar navbar-expand-sm ">
<div class="container">
  <%= link_to "仮.com", root_path, id: "site-nav-brand", class: "navbar-brand site-name" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto nav-bar-items">
    <% if current_user.is_a?(GuestUser)
       %>
    <% else %>
      <%= nav_helper 'btn btn-outline-primary mb-auto btn-original' %>
    <% end %>
      <%= login_helper 'btn btn-outline-primary btn-original'%>
    </div>
  </div>
</div>
</nav>
