<nav class="navbar navbar-expand-sm navbar-light bg-light">
<div class="container">
  <%= link_to "FLASHCARD.com", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="navbar-nav ml-auto nav-bar-items">
    <% if current_user.is_a?(GuestUser)
       %>
    <% else %>
      <%= nav_helper 'btn btn-outline-primary' ,'div' %>
    <% end %>
      <%= login_helper 'btn btn-outline-primary'%>
    </div>
  </div>
</div>
</nav>
