<div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
        <div class="list-group border-0 card text-center text-md-left">
        <a href="#menu1" class="list-group-item list-group-item-action d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">LEVEL</span> </a>
        <div class="collapse text-center" id="menu1">
            <a href="#menu1sub1" class="list-group-item list-group-item-action" data-toggle="collapse" aria-expanded="false">level1 </a>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" aria-expanded="false">level2 </a>
        </div>
        <a href="#menu3" class="list-group-item  list-group-item-action d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline">TOEIC</span></a>
        <div class="collapse text-center" id="menu3">
        <% @toeics = [400,600,800] %>
        <% @toeics.each do |toeic| %>
            <a href="#" class="list-group-item list-group-item-action" data-parent="#menu3"><%= toeic %></a>
        <% end %>
        </div>
    </div>
</div>