<% @part = [1,2,3,4,5] %>
<% @level = ["begginer","novice","advanced beginner","intermediate","advanced intermediate","advanced","proficient","expert","scholar"] %>
<% @toeics = [400,600,800] %>

<nav class="sidebar">
    <div class="sidebar__level">
        <h3>Level<span class="badge badge-secondary ml-2 align-center"><%= Word.count %></span></h3>
        <ul class="sidebar__level__list">
        <% @level.each.with_index(1) do |level,i| %>
          
          <li class="sidebar__level__list__item"><span><%= link_to "#{level}" ,root_path(level: i) %></span><span class="badge badge-secondary ml-2 align-center"><%=  Word.eager_load(:meanings).where(meanings: {level: i.to_i}).count %></span></li>
        <% end %>
        </ul>
    </div>
</nav>


    