
<%= render "shared/side_bar" %>

<div class="col-md-9">


<div class="row pt-4">
  <div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="単語" aria-label="Search">
    <i class="fa fa-times" aria-hidden="true"></i>
    <input class="form-control mr-sm-2" type="search" placeholder="意味" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
</div>

<%= render "shared/table" %>
</div>
