

<div id="main_root" class="root-section">

  <div class="side-bar_root">
  <%= render "shared/side_bar" %>
  </div>

  <main class="main-content_root">
    <%= render "shared/root-search" %>

    <section class="main-content_root__table">
      <%= render "shared/table" %>
    </section>
  </main>

</div>

