#home-nav{
  height: 5rem;
}
.navbar-brand__wrapper{
  height: 100%;
}
.navbar-brand{
  font-size: 4rem;
  font-weight: 900 !important;
}
.nav-brand__span {
  font-size: 2rem;
  font-weight: 900 !important;
  color: inherit;
  transform: translateY(1rem);
}