@import "bootstrap";
@import "font-awesome";


body {
  overflow-x: hidden;
}

#alphabet{
  margin-top: 400px
}

.footer{

}
.container-90 {
  width: 90%;
}

.nav-bar-items a{
  margin: 0 10px;
}
.devise-page-wrapper{
  padding: 3em 4em;
}