@import "bootstrap";
@import "font-awesome";

.fa-book{
  position:relative  !important;
  top:-20px;
  font-size:20px;
}
.site-name {
      color: black;
      font-size: 30px;
      font-weight: bold;
      font-family: Monospace;
    }
.table th{
  border:none  !important;
}
.fa-chevron-down{
  position:relative  !important;
  left:10px;
  top:-5px;
  font-size:5px;
}
.top-none{
  border-top: 0px none !important;
}
.special .list-group-item:first-child {
   border-top-right-radius: 0px !important;
   border-top-left-radius: 0px !important;
}

.special .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.circle-btn {
 border-radius: 50%;
}
.circle-btn:hover{
  width: 115%;
  cursor: pointer;
}
body {
  overflow-x: hidden;
}

#alphabet{
  margin-top: 400px
}

.footer{

}
.container-90 {
  width: 90%;
}

.nav-bar-items a{
  margin: 0 10px;
}
.devise-page-wrapper{
  padding: 3em 4em;
}


//** sidebar
