/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "base/variables";
@import "base/base";

@import "components/navbar";
@import "components/sidebar";
@import "components/dashboard";

@import "home/index";


.sidebar{
  font-size: 1.8rem;
  &__level {
    margin-bottom:2rem;
    border-bottom: 2px solid $color-grey-dark;
    &__list {

      &__item {
        height: 4rem;
        padding:1rem 0 1rem 2rem;
        &__title {
          font-size: 2rem;
          &:link,
          &:visited {
            color: $color-black;
          }
        }
        &__link {
          &:link,
          &:visited {
            color: $color-grey-dark;
          }
        }
      }
    }
  }
}
.active {
  font-weight: 800;
  color: $color-black !important;
}

.tag-chack-box{
  transform: translateX(1.2rem) !important;
}

/* nav var items btn*/

.btn-original:link,
.btn-original:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 2rem;
  margin-right: .5rem !important;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 3rem;
  transition: all .2s;
}

.btn-original:hover {
  transform: translateY(.05rem);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn-original:active{
  transform: translateY(-.05);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}


.fa-book{
  font-size:1.5rem;
  transform: translateY(-1.9rem);
  position: absolute;
}
.fa-book-existed{
  position: relative;
  top: 1.9rem;
  left: .8rem;
  color: gray;
}
.thumbs-uped{
  font-size:1.3rem;
  color:#0069d9;
}
.btn-thums-up{
  color:gray;
  font-size:1.3rem;
  transform: translate(-.7rem, -1.7rem) !important;
  position: absolute;
}
.like-count{
  color:gray;
  font-size:1.3rem;
  position: relative;
  top: -1.2rem;
  left: 1.5rem;
}

.table {
  td {
    
  }
}
.table th{
  border:none  !important;
}
.fa-chevron-down{
  position:relative  !important;
  left:1rem;
  top:-.5rem;
  font-size:.5rem;
}
.top-none{
  border-top: 0 none !important;
}
.circle-btn {
 border-radius: 50%;
}
.circle-btn:hover{
  width: 115%;
  cursor: pointer;
}

.nav-bar-items a{
  margin: 0 1rem;
}
.devise-page-wrapper{
  padding: 3rem 4rem;
}
/////////////////////
////////table

//////////////////////////////

////////////////////////////
////////search form//
.form-tag {
  width:90%;
}
/////////////
.fa-times{
  margin-left: 1.6rem;
}

.form_input {
  border-radius: 2px;
  background-color: rgba($color-white, .5);
  border: none;
  border-bottom: 3px solid $color-grey-dark;
  font-size: 1.2rem;

  &:focus {
    border-bottom: 3px solid $color-primary;
  }
}


//** sidebar
