// Place all the styles related to the Examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meaning-example-form{
  background-color: white;
}
.meaning-example-new{
  &__panel{
    width: 80%;
    padding:2rem 6rem;
    background-color: white;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 3px;
    box-shadow: .1rem .1rem .1rem .1rem rgba(#777, .5);
    &:first-child {
      margin-top: 1rem;
    }
    &:not(lastchild) {
      margin-bottom: 1rem;
    }
  }

}
.form-panel {
  font-size: 1.2rem;
  border-radius: .5rem;
  .btn {
    padding: .5rem 1.5rem;
  }
}