// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-btn {
  padding: 0.5rem 1rem;
  border: solid 2px #00FFFF;
  color: #00FFFF;
  border-radius: 1em;
  font-weight: bold;
  text-decoration: none;
}
.login-btn:hover{
  background-color:#00FFFF;
  color: white;
}