// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base/variables";
@import "base/base";

#content_user-show{
  display: flex;
}

.side-bar_user{
  flex: 0 0 18%;
}
.content_user{
  flex: 1;
}