// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user-show-page{
  display: flex;
  .side-bar{
  flex: 0 0 18%;
  }
  .main-content {
    flex: 1;
  }
}
